@import "../assets/bootstrap/scss/functions";
@import "../assets/bootstrap/scss/variables";
@import "../assets/bootstrap/scss/mixins";
@import "minima/syntax-highlighting";

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.fill-height {
  min-height: calc(100vh - 2 * #{$navbar-brand-padding-y} - 2 * #{$navbar-padding-y} - #{$navbar-brand-height});
}

.post-title {
  @extend .display-4;
}

.post-list {
  @extend .list-unstyled;
  li {
    @extend .mt-4;
  }
}

.post-meta {
  @extend .text-muted;
}

.social-icon {
  @extend .list-inline-item;
  @extend .mr-3;
  @extend .align-middle;
  svg {
    width: 16px;
    height: 16px;
    fill: $secondary;
  }
}

// Add bootstrap classes

table {
  @extend .table;
}

img {
  @extend .img-fluid;
  @extend .mx-auto;
  @extend .d-block;
}


pre {
  padding: 1rem;
}

blockquote {
  border-left: .25em solid $border-color;
  color: $text-muted;
  padding: 0 1em;
}

@import "../assets/bootstrap/scss/bootstrap";

body {
  font-family: Roboto, "Helvetica Neue";
}

@import "print";
