<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  {%- include header.html -%}

  <div class="d-flex align-items-start flex-column fill-height">

    <div class="container my-3">

      <div id="searchLoading"></div>
      <div id="searchResults" class="collapse">
        <h2>Search Results</h2>
        <div class="card card-body my-4">
          <div id="searchResultsList" class="list-group list-group-flush"></div>
        </div>
      </div>

      {{ content }}

    </div>

    <div class="container-fluid bg-light mt-auto d-print-none">

      {%- include footer.html -%}

    </div>

  </div>


  {%- include js.html -%}

</body>

</html>
